<div class="jumbotron">
  <h1 class="display-4 text-center">Log In</h1>

  <%= form_with(scope: :auth, url: auth_post_login_path) do |f| %>

    <div class="form-group">
      <%= f.label :username %><br/>
      <%= f.text_field :username, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br/>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Log in", class: "btn col btn-success" %>
    </div>

  <% end %>

  <hr class="my-4">
  <p class="text-center">You don't have an account ?</p>
  <p class="lead text-center">
    <a class="btn btn-primary" role="button" href="<%= auth_signup_url %>">Sign Up here</a>
  </p>
</div>
